.card {
  cursor: pointer;

  position: relative;

  display: block;

  box-sizing: border-box;
  width: $card-width;
  padding: $spacing-md;
  border: $card-border-width solid $color-border;
  border-radius: $border-radius;

  font-family: $font-family;

  background-color: $color-white;

  transition: transform $transition-speed $transition-timing;

  &__image {
    display: block;

    box-sizing: border-box;
    width: 100%;
    height: $card-image-height;
    border-radius: $border-radius;

    object-fit: cover;
  }

  &__title {
    box-sizing: border-box;
    margin: $spacing-md 0 $spacing-sm;

    font-size: $font-size-title;
    font-weight: 600;
    color: $color-text;

    transition: color $transition-speed $transition-timing;
  }

  &__code {
    box-sizing: border-box;
    margin: 0 0 $spacing-sm;
    font-size: $font-size-base;
    color: $color-text-light;
  }

  &__reviews {
    display: flex;
    gap: $spacing-sm;
    align-items: center;
    margin-bottom: $spacing-md;
  }

  &__stars {
    margin: 0;
  }

  &__reviews-count {
    font-size: $font-size-base;
    color: $color-text-light;
  }

  &__price {
    display: flex;
    gap: $spacing-sm;
    align-items: center;
    justify-content: space-between;

    margin-bottom: $spacing-md;
  }

  &__price-label {
    font-size: $font-size-base;
    color: $color-text;
  }

  &__current-price {
    font-size: $font-size-price;
    font-weight: 700;
    color: $color-text;
  }

  &__actions {
    display: flex;
    gap: $spacing-sm;
  }

  &__btn {
    display: block;

    box-sizing: border-box;
    width: 100%;
    padding: $spacing-sm $spacing-md;

    font-size: $font-size-base;
    font-weight: 600;
    text-align: center;

    border: none;
    border-radius: $border-radius;

    text-decoration: none;

    transition:
      background-color $transition-speed $transition-timing,
      color $transition-speed $transition-timing;

    &--buy {
      color: $color-white;
      background-color: $color-primary;

      &:hover {
        color: $color-btn-text;
        background-color: $color-btn-bg;
      }
    }
  }

  &:hover {
    transform: scale(1.05);

    & .card__title {
      color: $color-card-title-hover;
    }
  }
}
